# {{ ansible_managed }}
# Docker Upstart and SysVinit configuration file

#
# THIS FILE DOES NOT APPLY TO SYSTEMD
#
#   Please see the documentation for "systemd drop-ins":
#   https://docs.docker.com/engine/articles/systemd/
#

# Customize location of Docker binary (especially for development testing).
{% if dockerhost_dockererd is defined %}
DOCKERD="{{ dockerhost_dockererd }}"
{% endif %}

# Use DOCKER_OPTS to modify the daemon startup options.
{% if dockerhost_docker_opts is defined %}
DOCKER_OPTS="{{ dockerhost_docker_opts }}"
{% endif %}

# If you need Docker to use an HTTP proxy, it can also be specified here.
{% if dockerhost_http_proxy is defined %}
export http_proxy="{{ dockerhost_http_proxy }}"
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
{% if dockerhost_tmpdir is defined %}
export TMPDIR="{{ dockerhost_tmpdir }}"
{% endif %}
