[Unit]
Description=cadvisor
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ prometheus_exporters_common_root_dir }}/cadvisor_current/cadvisor --docker="{{ cadvisor_config_docker_endpoint }}" --listen_ip="{{ cadvisor_config_listen_interface }}" --port="{{ cadvisor_config_listen_port }}" {% for flag, flag_value in cadvisor_config_flags.items() %}--{{ flag }}={{ flag_value }} {% endfor %}

SyslogIdentifier=cadvisor
Restart=always

[Install]
WantedBy=multi-user.target
